# Виртуальное окружение
.venv/
venv/
ENV/
env/

# Python кэш и временные файлы
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

# Отчеты Allure (результаты запусков)
allure-results/
allure-report/

# Логи и системные файлы
*.log
.DS_Store
Thumbs.db

# Конфиденциальные данные (если появятся файлы .env)
.env

# Папки сред разработки
.vscode/
.idea/